body {
    margin:0;
    background-color:#2b2d31;
}

#hidden {
    display:none;
}

#grid {
    width:1500px;
    margin-left:auto;
    margin-right:auto;
}

#header {
    width:1500px;
    height:80px;
    float:left;
}

.searchbar {
    width:500px;
    height:80px;
    box-sizing:border-box;
    padding-right:20px;
    float:left;
}

.searchbar input {
    float:right;
    width:400px;
    height:30px;
    margin-top:25px;
    background-color:#1e2023;
    border:none;
    border-radius:5px;
    padding-left:5px;
    color:#fff;
    font-size:20px;
    font-family: "Ubuntu", sans-serif;
}

.searchbar img {
    float:left;
    height:30px;
    margin-top:25px;
    margin-left:35px;
}

.deckbar {
    width:300px;
    height:80px;
    float:left;
    box-sizing:border-box;
    padding-left:10px;
    padding-right:10px;
    line-height:80px;
    color:#fff;
    font-family: "Ubuntu", sans-serif;
    font-weight:500;
    font-size:24px;
    float:right;
}

.deckbar div {
    float:left;
}

#deck-download {
    float:right !important;
    text-decoration:none;
}

#deck-download:visited {
    color:#fff;
    text-decoration:none;
}

#deck-download:hover {
    color:lightskyblue;
}

#deck-download:link {
    color:#fff;
}

#cardgrid {
    width:1200px;
    float:left;
}

#cardlist {
    width:300px;
    float:left;
}
.card {
    width:200px;
    height:300px;
    float:left;
}

.card button {
    width:200px;
    height:300px;
    box-sizing:border-box;
    border:none;
    background:none;
    transition:opacity 0.3s;
    transition:padding 0.3s;
    padding:10px;
}

.card button:hover {
    opacity:1;
    padding:10px;
    cursor:pointer;
}

.card button img {
    width:100%;
    height:100%;
    box-sizing:border-box;
    border-radius:10px;
    transition:scale 0.3s;
}

.card button img:hover {
    scale:2.2;
}

.card-highlight {
    border:5px solid #fff !important;
}

.cardlist-card {
    width:100%;
    height:40px;
    box-sizing:border-box;
    padding:2px;
}

.cardlist-card button {
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:none;
    background:none;
    color:#fff;
    font-family: "Ubuntu", sans-serif;
    border-radius:5px;
    background-color:#1e2023;
    font-size:16px;
    font-weight:500;
    text-align:left;
    padding-left:10px;
}

.hide {
    display:none;
}

.label {
    width:600px;
    color:#fff;
    font-family: "Ubuntu", sans-serif;
    font-size:18px;
    height:80px;
    line-height:80px;
    font-weight:500;
    padding-left:30px;
    float:left;
}